rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      // Pour l'instant, on considère qu'un utilisateur connecté est admin.
      // Nous affinerons cela plus tard avec les custom claims.
      return request.auth != null;
    }

    match /services/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /serviceCategories/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /testimonials/{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
